.header-container{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: relative;
}

.logo{
  width: 236px;
  min-width: 236px;
  max-width: 236px;
  border-right: 1px solid var(--border);
  div{
    padding: 12px 12px 12px 24px;
  }
  img{
    width: 150px;
    height: 34px;
  }
}

.right-actions{
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 24px;
  column-gap: 24px;
  width: 100%;
  box-shadow: 4px 1px 15px 0px rgba(163, 163, 163, 0.631);
  height: 36px;

  .bell{
    position: relative;
    cursor: pointer;

    &::after{
      content: "10";
      position: absolute;
      top: -6px;
      right: -6px;
      padding: 3px;
      border-radius: 50%;
      background-color: red;
      color: #fff;
      font-size: 8px;
      font-weight: 600;
    }
  }

  .menu-options{
    padding: 4px 16px;
    border-radius: 6px;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    width: 180px;

    select{
      border: none;
      outline: none;
      font-size: 16px;
      &:focus{
        border: none;
      }
    }

    .value{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      column-gap: 24px;
      color: var(--secondary_color);
    }
  }
}

