<section class="login_container">
  <div class="login_wrapper">
    <h1>Login</h1>
    <div class="input_wrap">
      <div class="input">
        <label for="email">Email ID:</label>
        <input type="text" name="email" placeholder="xyz@example.com" autocomplete="false">
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="false">
      </div>
      <button type="submit" class="primary-btn">Login</button>
    </div>
  </div>
</section>