main{
  background-color: #f0f4ed;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.main_content_wrapper{
  display: flex;
}


.main_content{
  height: calc(100vh - 130px);
  width: 100%;
  padding: 24px 12px;
  overflow-x: auto;
}