/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
  --primary_color: #04cd9c;
  --secondary_color: #656569;
  --border: #c5c3c3;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
}


.input{
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  label{
    color: black;
    font-weight: 600;
    font-size: 16px;
  }

  input{
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #c5c3c3;
  }
}

.primary-btn{
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--primary_color);

  &:hover{
    background-color: #04cd9b72;
  }
}